@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* -------------------------------------------------------------------- */
/* NAV BAR */
/* -------------------------------------------------------------------- */
header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #fff;
    min-height: 8vh;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-links li {
    margin: 0 1.5rem;
}

.nav-links a {
    font-weight: 700;

}

.estimate-btn a {
    border: 5px solid #0444E8;
    font-weight: 600;
    font-size: 0.9rem;
    height: 100%;
    padding: 0.5rem 1.5rem;
    overflow: visible;
    border-radius: 33px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -ms-border-radius: 33px;
    -o-border-radius: 33px;
}

.nav-links .lang{
    display: flex;
}
header nav .burger{
    display: none;
    cursor: pointer;
    outline: none;
}

header nav .burger div{
    width: 25px;
    height: 3px;
    background: #03030F;
    margin: 5px;
}
/* -------------------------------------------------------------------- */
/* hero section*/
/* -------------------------------------------------------------------- */
#hero-section {
    margin-top: 8vh;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.5rem 0 1.5rem ;
    color: #373737;
}

#hero-section .social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
}
#hero-section .social-media a{
    margin: 1rem 0;
}

#hero-section .hero-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 6rem 0 12rem;
}

#hero-section .hero-description .big-title {
    margin-bottom: 10rem;
}
#hero-section .hero-description .big-title h3 {
    font-size: 3rem;
    
}

#hero-section .hero-description .description p {
    font-size: 2rem;
}

#hero-section .hero-image{
    margin-top: 9%;
}

#hero-section .email{
    display: flex;
    font-size: 2rem;
    align-items: center;
    padding: 2rem 0 0 0 ;
}
#hero-section .email img{
    margin-right: 1rem;
}
/* -------------------------------------------------------------------- */
/* estimate section*/
/* -------------------------------------------------------------------- */
#estimate-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    background: #03030F;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    min-height: 100vh;
}



#estimate-section .nav p a{
    color: #fff;
}

#estimate-section .estimate-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

#estimate-section .estimate-description .title{
    font-size: 2.5rem;
    padding: 4rem 0;
    text-align: center;
}

#estimate-section .estimate-description .description{
    width: 65%;
    font-size: 2rem;
    padding: 1rem 3rem;
    text-align: center;
}

#estimate-section .estimate-tool .estimate-tool-btns{
    margin: 3rem 0;
}
#estimate-section .estimate-tool{
    padding: 1.5rem 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
#estimate-section .estimate-tool .tool h4{
    padding: 1rem 0;
}

.estimate-tool-inputs{
    width: 100%;
    padding: 1rem 0;

}
.estimate-tool-inputs .inputs-one input,
.estimate-tool-inputs .inputs-two input{
    display: flex;
    border: none;
    border-bottom: 1px solid #373737;
    background: #03030F;
    padding: 1rem 0rem; 
    width: 100%;
    outline: none;
    color: #fff;
}
.estimate-tool-inputs .inputs-one {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}
.estimate-tool-inputs .inputs-one input{
    width: 100%;
    margin: 0 .5rem;
}

.estimate-tool-inputs .send-btn{
    padding: 3rem 0;
    display: flex;
    justify-content: flex-end;
}

.estimate-tool-inputs .send-btn :first-child{
    margin:0 1rem;
}

.estimate-tool-btn{
    border: 5px solid #0444E8;
    font-weight: 600;
    font-size: 0.9rem;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem 0;
    margin-right: 0.5rem;
    color: #fff;
    border-radius: 33px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -ms-border-radius: 33px;
    -o-border-radius: 33px;
    background: #03030F;
}
.estimate-tool-btn-form{
    border: 5px solid rgba(4, 68, 232, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 0.9rem;
    padding: 1rem 1.5rem;
    border-radius: 33px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -ms-border-radius: 33px;
    -o-border-radius: 33px;
    background: #03030F;
    color: #fff;
}

/* -------------------------------------------------------------------- */
/* footer*/
/* -------------------------------------------------------------------- */
#footer-section{
    position: relative;
    display: flex;
    justify-content: space-between;
    background: #03030F;
    color: #fff;
    padding: 5% 1.5rem;
}

#footer-section .phone-numbers{
    display: flex;
    align-items: center;
}

#footer-section .phone-numbers .numbers{
    margin-left: 2rem;
}
#footer-section .phone-numbers .numbers p{
    padding: .5rem 0;
    font-size: 1.3rem;
}

#footer-section .inovi-email,
#footer-section .inovi-email .copy-right{
   display: flex;
   flex-direction: column;
   justify-content: space-between; 
   align-items: center;
}
#footer-section .inovi-email .copy-right{
    position: absolute;
    bottom: 0;
    color: #373737;
}

#footer-section .inovi-email .email{
    display: flex;
    align-items: center;
    margin: 5rem 0;
    font-size: 1.3rem;
}

#footer-section .social-media{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; 
}
#footer-section .social-media .inovi-social a{
    margin: 0 1rem;
}

#footer-section .social-media .policy{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

#footer-section .social-media .policy a{
    text-decoration: underline;
    font-size: 1.3rem;
    color: #373737;
}